In [1]:
# Import statements 
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
import pandas as pd
import numpy as np

In [2]:
# Import the train test split
# http://scikit-learn.org/0.16/modules/generated/sklearn.cross_validation.train_test_split.html
from sklearn.cross_validation import train_test_split

/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [4]:
# Read the data.
data = np.asarray(pd.read_csv('testing-model-data.csv', header=None))
# Assign the features to the variable X, and the labels to the variable y. 
X = data[:,0:2]
y = data[:,2]

In [5]:
# Use train test split to split your data 
# Use a test size of 25% and a random state of 42
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [6]:
# Create the decision tree model and assign it to the variable model.
model = DecisionTreeClassifier()

# Fit the model to the training data.
model.fit(X_train,y_train)

# Make predictions on the test data
y_pred = model.predict(X_test)

In [7]:
# Calculate the accuracy and assign it to the variable acc. on the test data
acc = accuracy_score(y_test, y_pred)

In [8]:
print(acc)

0.9583333333333334

In [12]:
import ibis

In [11]:
!pip install ibis

Collecting ibis
  Downloading https://files.pythonhosted.org/packages/ed/7c/f2ab7b94764981d4e9f9b05b3ceb93d97a0b35cfd4f4af54626326b36c13/ibis-1.6.0.tar.gz
Building wheels for collected packages: ibis
  Running setup.py bdist_wheel for ibis ... done
  Stored in directory: /Users/kumarchk/Library/Caches/pip/wheels/12/98/96/44c165aa52c69f5b1da2ea5f8e85dd4b76ba64545f14bcab7c
Successfully built ibis
Installing collected packages: ibis
Successfully installed ibis-1.6.0

In [15]:
for x in range (100):
    print(np.log(x))

-inf
0.0
0.6931471805599453
1.0986122886681098
1.3862943611198906
1.6094379124341003
1.791759469228055
1.9459101490553132
2.0794415416798357
2.1972245773362196
2.302585092994046
2.3978952727983707
2.4849066497880004
2.5649493574615367
2.6390573296152584
2.70805020110221
2.772588722239781
2.833213344056216
2.8903717578961645
2.9444389791664403
2.995732273553991
3.044522437723423
3.091042453358316
3.1354942159291497
3.1780538303479458
3.2188758248682006
3.258096538021482
3.295836866004329
3.332204510175204
3.367295829986474
3.4011973816621555
3.4339872044851463
3.4657359027997265
3.4965075614664802
3.5263605246161616
3.5553480614894135
3.58351893845611
3.6109179126442243
3.6375861597263857
3.6635616461296463
3.6888794541139363
3.713572066704308
3.7376696182833684
3.7612001156935624
3.784189633918261
3.8066624897703196
3.828641396489095
3.8501476017100584
3.871201010907891
3.8918202981106265
3.912023005428146
3.9318256327243257
3.9512437185814275
3.970291913552122
3.9889840465642745
4.007333185232471
4.02535169073515
4.04305126783455
4.060443010546419
4.07753744390572
4.0943445622221
4.110873864173311
4.127134385045092
4.143134726391533
4.1588830833596715
4.174387269895637
4.189654742026425
4.204692619390966
4.219507705176107
4.23410650459726
4.248495242049359
4.2626798770413155
4.276666119016055
4.290459441148391
4.30406509320417
4.31748811353631
4.330733340286331
4.343805421853684
4.356708826689592
4.3694478524670215
4.382026634673881
4.394449154672439
4.406719247264253
4.418840607796598
4.430816798843313
4.442651256490317
4.454347296253507
4.465908118654584
4.477336814478207
4.48863636973214
4.499809670330265
4.51085950651685
4.5217885770490405
4.532599493153256
4.543294782270004
4.553876891600541
4.564348191467836
4.574710978503383
4.584967478670572
4.59511985013459

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: RuntimeWarning: divide by zero encountered in log

In [16]:
import numpy as np
import pandas as pd
df = pd.DataFrame(np.random.randint(0,100,size=(100, 4)), columns=list('ABCD'))

In [17]:
df.head()

    A   B   C   D
0  74  52  30  14
1   4  58  99  98
2  35  26  22  96
3  17   3  97  31
4  49  15  13  58

In [18]:
df['E'] = df['A'].apply(lambda x: 1 if x < 30 else 2)

In [19]:
df.head()

    A   B   C   D  E
0  74  52  30  14  2
1   4  58  99  98  1
2  35  26  22  96  2
3  17   3  97  31  1
4  49  15  13  58  2

In [35]:
df['E'] = df['B'].apply(lambda x: 'A' if x > 40 else 'C')

In [36]:
df.head()

    A   B   C   D  E
0  74  52  30  14  A
1   4  58  99  98  A
2  35  26  22  96  C
3  17   3  97  31  C
4  49  15  13  58  C

In [37]:
dum_df = pd.get_dummies(df)

In [38]:
dum_df.columns

Index(['A', 'B', 'C', 'D', 'E_A', 'E_C'], dtype='object')

In [39]:
dum_df.head()

    A   B   C   D  E_A  E_C
0  74  52  30  14    1    0
1   4  58  99  98    1    0
2  35  26  22  96    0    1
3  17   3  97  31    0    1
4  49  15  13  58    0    1