In [5]:
# Add import statements

import pandas as pd
from sklearn.linear_model import LinearRegression

In [6]:
# Assign the dataframe to this variable.
# Load the data
bmi_life_data = pd.read_csv("bmi_and_life_expectancy.csv")

bmi_life_data.head()

       Country  Life expectancy       BMI
0  Afghanistan             52.8  20.62058
1      Albania             76.8  26.44657
2      Algeria             75.5  24.59620
3      Andorra             84.6  27.63048
4       Angola             56.7  22.25083

In [10]:
# Make and fit the linear regression model
# Fit the model and Assign it to bmi_life_model
model = LinearRegression()
bmi_life_model = model.fit(bmi_life_data[['BMI']],bmi_life_data[['Life expectancy']])

In [12]:
# Make a prediction using the model
# Predict life expectancy for a BMI value of 21.07931
laos_life_exp = bmi_life_model.predict(21.07931)

print(laos_life_exp)

[[60.31564716]]